/* Global Styles */
:root {
  --primary-color: coral;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--light-color);
  color: #333;
}

h1 {
  margin-top: 0.5rem;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;
}
.form-check {
  text-align: center;
  margin-top: 0.2rem;
}

.form-check-input {
  width: 1.3rem;
  height: 1.3rem;
}

.form-check-label {
  margin-left: 0.5rem;
}

.btn {
  width: 100%;
  background: var(--dark-color);
  color: var(--light-color);
}

.btn:hover {
  background: var(--primary-color);
  color: var(--dark-color);
}

.bottom-line {
  height: 2px;
  width: 100%;
  background: var(--primary-color);
  display: block;
  margin: 0 auto 0.5rem auto;
}

ul {
  list-style: none;
}
